.navbar-nav > li{
  padding-left: 10px;
}

header {
  padding: 78px 0 25px;
}

p {
  margin: 1% 0 1%;
}

h2 {
  margin: 1% 0 0;
}

.headerBG {
  background: url('http://localhost:3000/images/headerIMG.jpg') no-repeat center center;
}

.footerBG {
  background: url('http://localhost:3000/images/footerIMG.jpg') no-repeat center center;
  background-position-y: -175px;
}

.headerBG, .footerBG { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.headerContainer, .footerContainer {
  background-color: rgba(0, 0, 0, 0.42);
  border: 5px solid rgba(61, 61, 61, 0.2);
}

.incidentsContainer {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.42);
  border: 5px solid rgba(194, 194, 194, 0.2);
}

.container, #map, #incident {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#map, #incident {
  width: 800px; 
  height: 500px; 
  border: 5px solid rgba(194, 194, 194, 0.2);
}

.headerContainer, .footerContainer, .incidentsContainer, #map, #incident{
border-style: dashed; 
-webkit-border-radius: 12px; 
-moz-border-radius: 12px; 
border-radius: 12px; 
}

.headerContainer {
  padding: 1% 0;
}

.footerContainer {
  width: 50%;
}

#mapS, #incidents, #incidentS {
  background-color: rgba(0, 65, 70, 0.20);
}

#mapS, #incidentS {
  padding: 1% 0;
}

#incidents {
  padding: 1%;
}